@font-face{
    font-family: 'Nexa Bold';
    src: url("/fonts/nexa-bold.otf");
}
@font-face{
    font-family: 'Nexa Light';
    src: url("/fonts/nexa-light.otf");
}

.side-bar{
    color: #fff;
    font-family: 'Nexa Light';
    height: 100%;
    background-color: #000000;
    position: absolute;
    left: 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.side-bar a{
    color: #fff;
    font-family: 'Nexa Light';
}

.side-bar .grow{
    text-align: center;
    transition: 0.2s;
}

.side-bar .grow:hover{
    transform: scale(1.1);
}

#sidebar{
    margin-top: 30px;
}

.svg{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.body{
    margin-left: 15vw;
    width: 85%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}.wrapper{
    display: flex;
    position: relative;
}
.sidebar{
    transition: all 0.3s;
}

.nexa-bold{
    font-family: 'Nexa Bold';
}

.nexa-light{
    font-family: 'Nexa Light';
}



