@font-face{
    font-family: 'Rubik Bold';
    src: url("/fonts/Rubik-Bold.ttf");
}

@font-face{
    font-family: 'Rubik-Light';
    src: url("/fonts/Rubik-Light.ttf");
}

.headline .headline-branco{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fff;
    display: block;
    font-size: 3.2em;
}

.headline .headline-amarelo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #eeb182;
    display: block;
    font-size: 3.2em;
}

.welcome-body .a11{
    grid-area: a11;
    width: 100%;
    height: 100%;
}

.welcome-body .a11 .navigation{
    margin-top: 0px;
    height: 25%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr 1.5fr 1fr;
    grid-template-areas: 'b11 b12 b13 b14 b15';
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.headline-button-anchor:hover{
    color: #fff;
    transform: translateY(-10%);
}

.navigation .b11{
    grid-area: b11;
    display: flex;
    text-align: left;
    justify-content: center;
    margin: auto;
    font-size: 1.5em;
}

.navigation .b12{
    grid-area: b12;
    display: flex;
    text-align: left;
    justify-content: center;
    margin: auto;
    font-size: 1.5em;
}

.navigation .b13{
    grid-area: b13;
    display: flex;
    text-align: left;
    justify-content: center;
    margin: auto;
    font-size: 1.5em;
}

.navigation .b14{
    grid-area: b14;
    display: flex;
    text-align: left;
    justify-content: center;
    margin: auto;
    font-size: 1.5em;
}

.navigation .b15{
    grid-area: b15;
    display: flex;
    text-align: left;
    justify-content: center;
    margin: auto;
    font-size: 1.5em;
}

.headline-button-div{
    width: 100%;
    align-items: center;
    position: relative;
}

.headline-button{
    position: absolute;
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.text-decoration-red{
    text-decoration: underline;
    text-decoration-color: #9e0909;
}

@media (min-width: 1045px) {
    .welcome-body{
        background-color: #0f0f0f;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'a11 a12';
    }

    .welcome-body .a11 .navigation{
        padding-left: 18%;
    }

    .navigation .nav-a{
        width: 100%;
        height: 100%;
        color: rgb(148, 148, 148);
        text-align: center;
        transition: 0.2s;
        text-decoration-color: #9e0909;
        text-decoration-style: solid;
    }

    .navigation .nav-a-current{
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        transition: 0.2s;
        text-decoration-color: #9e0909;
        text-decoration-style: solid;
        font-size: 1.2em;
        font-weight: bold;
    }

    .navigation .nav-a-current:hover{
        text-decoration: underline;
        text-decoration-color: #9e0909;
        text-decoration-style: solid;
        transform: translateY(-10%)
    }

    .nav-a:hover{
        text-decoration: underline;
        text-decoration-color: #9e0909;
        text-decoration-style: solid;
        color: #fff;
        transform: translateY(-10%)
    }

    .welcome-body .a11 .headline{
        height: 80%;
        padding: 5% 0%;
        text-align: left;
    }

    .headline .headline-text-container{
        padding-left: 18%;
    }

    .headline-legend{
        padding-left: 18%;
        margin-top: 3%;
        color: #fff;
        font-size: 1.6em;
    }

    .headline-button-anchor{
        color: #fff;
        height: 45px;
        width: 150px;
        border-radius: 5px;
        padding: auto;
        margin-top: 50px;
        background-color: #9e0909;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        transition: 0.2s;
    }

    .welcome-body .a12{
        grid-area: a12;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .burguer-image{
        position: absolute;
        left: 0;
        margin-left: 50%;
        transform: translateX(-50%);
        height: 100vh;
    }
}
@media only screen and (min-device-width : 100px) and (max-device-width : 1044px) {
    :root{
        font-size: 1.4em;
    }
    .welcome-body{
        background-color: #0f0f0f;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'a11'
        'a21';
    }
    .welcome-body .a11{
        position: relative;
    }

    .navigation .nav-a{
        width: 100%;
        height: 100%;
        color: rgb(148, 148, 148);
        text-align: center;
        transition: 0.2s;
        text-decoration-color: #9e0909;
        text-decoration-style: solid;
    }

    .navigation .nav-a-current{
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        transition: 0.2s;
        text-decoration-color: #9e0909;
        text-decoration-style: solid;
        font-weight: bold;
    }

    .navigation .nav-a-current:hover{
        text-decoration: underline;
        text-decoration-color: #9e0909;
        text-decoration-style: solid;
        transform: translateY(-10%)
    }

    .nav-a:hover{
        text-decoration: underline;
        text-decoration-color: #9e0909;
        text-decoration-style: solid;
        color: #fff;
        transform: translateY(-10%)
    }
    .welcome-body .a11 .headline{
        height: 80%;
        padding: 5% 0%;
        text-align: center;
        width: 90%;
        position: absolute;
        left: 0;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .headline .headline-amarelo{
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: #eeb182;
        display: block;
        font-size: 3.2em;
    }

    .headline-legend{
        text-align: center;
        margin-top: 3%;
        color: #fff;
        font-size: 1.6em;
    }

    .headline-button-anchor{
        color: #fff;
        height: 60px;
        width: 300px;
        border-radius: 10px;
        padding: auto;
        margin-top: 50px;
        background-color: #9e0909;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        transition: 0.2s;
    }


    .welcome-body .a12{
        grid-area: a21;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .burguer-image{
        position: absolute;
        left: 0;
        margin-left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }

}
