@font-face{
    font-family: 'Nexa Bold';
    src: url("/fonts/nexa-bold.otf");
}

@font-face{
    font-family: 'Nexa Light';
    src: url("/fonts/nexa-light.otf");
}

@font-face{
    font-family: 'Rubik Bold';
    src: url("/fonts/Rubik-Bold.ttf");
}

@font-face{
    font-family: 'Rubik-Light';
    src: url("/fonts/Rubik-Light.ttf");
}

html {
	scroll-behavior: smooth;
}

body {
    background-color: #bae3b4;
}

.background1{
    background-image: url("../img/Imagem Banner Networking.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 48vw;
    background-position: center;
    display: block;
    position: relative;
    min-height: 150px;
    margin-top: -50px;
}

.container-fluido{
    width: 100%;
}

.background2{
    width: 100%;
    background-color: #ffffff;
}

.seta{
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -100px;
    margin-left: 300px;
}

.verdeEscuro{
    font-family: 'Rubik Bold';
    color: #06302e;
}

.grande{
    font-size: 5em;
}

.iconeSO{
    width: 130px;
    height: 130px;
}

.iconeSO1{
    padding-top: 30px;
    padding-bottom: 10px;
    width: 130px;
    height: 130px;
}

.icones{
    font-family: 'Rubik Bold';
    color: #06302e;
    margin-top: 200px;
}

.divicones{
    width: 130px;
    height: 130px;
}

.icone1{
    width: 130px;
    height: 130px;
    margin-left: 65px;
    text-align: center;
}

.margintop100{
    margin-top: 100px;
}

.margintop80{
    margin-top: 80px;
}

.light{
    font-family: 'Rubik Light';
}

.medio-pequeno{
    font-size: 1.8em;
}

.sublinhado{
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.margintop-20{
    margin-top: -20px;
}

.margintop-100{
    margin-top: -100px;
}

.medio-grande{
    font-size: 4em;
}

.vazio-height200{
    height: 200px;
}

.inline{
    display: inline;
}

.logo-absolute{
    text-align: center;
}

.inline{
    display: inline;
}

.img-logo-absolute{
    width: 241px;
    height: 86px;
    margin-top: 80px;
}

.padding-top100{
    padding-top: 100px;
}

.padding-bottom20{
    padding-bottom: 75px;
}

.rodape{
    background-color: #bae3b4;
    text-align: center;
    height: 300px;
    width: 100%;
    position: relative;
}

.rodape .div-img-logo-rodape{
    padding: 50px 0px 50px 0px;
}

.rodape .width100{
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -25%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mobile-marginleft80{
        margin-left: 80px;
    }

    .mobile-margin-top-50{
        margin-top: 50px;
    }
}

