@font-face{
    font-family: 'Nexa Bold';
    src: url("/fonts/nexa-bold.otf");
}
@font-face{
    font-family: 'Nexa Light';
    src: url("/fonts/nexa-light.otf");
}
body{
    background-color: #1a1a1a;
    align-content: center;
}
.nav-link{
    font-family: 'Nexa Light';
    font-weight: 700;
    font-size: 1.5em;
    color: #ffffff;
}
#imagemBP{
    margin-top: -20px; /*Comentar isso com Tito*/
}

.btn-suporte{
    font-size: 1.5em !important;
    margin-top: 20px !important;
}

nav{
    margin-top: 50px;
    /*margin-left: -50px;*/
}

.modal-title{
    font-family: 'Nexa Bold';
    font-size: 2.0em;
    color: #1055A9;
    font-weight: bolder;
}

#manchete{
    margin-top: 100px;
    text-align: center;
}
.textoVerde{
    font-family: 'Nexa Bold';
    font-size: 4em;
    color: #57c478;
    font-weight: bolder;
}
.textoAzul{
    font-family: 'Nexa Bold';
    font-size: 4em;
    color: #1055A9;
    font-weight: bolder;
}
.textoBranco{
    font-family: 'Nexa Bold';
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    margin-top: -20px; /*Comentar isso com Tito*/
}
.textoCinza{
    font-family: 'Nexa Light';
    color: #999999;
    font-size: 1.5em;
    font-weight: 300;
}
#botaoFaleConosco{
    font-family: 'Nexa Light';
    width: 200px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #4cc06f, #16963c);
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 30px;
    border-color: #000000;
}

.background1{
    background-image: url("../img/Imagem 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 67vw;
    background-position: center;
    display: block;
    min-height: 1000px; /*Aumentar pra telas maiores*/
}

.textBackground1{ /* Center text */
  margin: auto;
  width: 1000px;
}
#textoBackground{
    padding-top: 60vh; margin-left: -100px; line-height: 90px;
}
#duvidas{
    margin-top: -9px;
    width: 50px;
    height: 50px;
    background-color: #323232;
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    border-color: #000000;
}

.btn{
    font-family: 'Nexa Light';
    width: 200px;
    height: 60px;
    margin-top: -10px;
    background-image: linear-gradient(to right, #0569e2, #12519E);
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bolder;
    border-radius: 30px;
}

.btn-modal{
    border-radius: 1px;
    margin-top: 0px;
    height: 40px;
    width: 100px;
    background-color: #1055A9;
    color: #ffffff;
}

.btn-branco{
    font-family: 'Nexa Light';
    width: 300px;
    height: 60px;
    margin-top: -10px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    color: #12519E;
    font-size: 0.9em;
    font-weight: bolder;
    border-radius: 30px;
}

.btn-branco:hover, .btn-branco:focus {
    color: #12519E;
    outline: 0;
}
.btn-normal:hover, .btn-normal:focus {
    color: #fff;
    outline: 0;
}

.first {
    transition: all .2s ease-in-out;
}
.first:hover {
    transform: scale(1.1);
}
.btn-colorido {
    transition: all .2s ease-in-out;
}
.btn-colorido:hover {
    box-shadow: 0 0 40px 40px #0569e2 inset;
    transform: scale(1.1);
}
.atual{
    font-family: "Nexa Bold";
    margin-top: -3px;
    text-decoration: underline;
}
.container{
    margin-top: 75px;
}

.container-no-margin{
    margin-top: -75px;
}

.img-fluid{
    height: 700px;
}

.modal-footer .btn-modal{
    width: 100%;
    border-radius: 5px;
}

.bloco-form{
    height: 700px;
    background-color: #fff;
    width: 90vw;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'b11 b12';
    margin-top: -200px;
}

.img-form{
    grid-area: b12;
    height: 100%;
}

.form-grid{
    grid-area: b11;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-title{
    font-size: 0.5em;
    margin-top: 50px;
}

.form-body{
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control-lg{
    height: 70px;
    margin: 5px 0px;
}

.form-body .form-grid .col-3{
    margin-left: -20px;
}

.form-grid label{
    font-size: 2em;
}

.col-3 .mobile-form{
    height: 70px;
}

/* --------------FORM 3 --------------*/
.form3-body{
    width: 100vw;
    height: 100%;
    background-color: #fff;
}

.form3-body h6{
    margin-top: 50px;
}

.form3-body .row:nth-child(2){
    margin-top: 60px;
}

.form3-body label{
    font-size: 2em;
}

.form3-body .form-group{
    padding: 20px;
}

.form3-body .form-background{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 900px;
    margin-top: 100px;
    background-image: url("../img/Imagem 14.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.form3-body .mobile-form{
    width: 90%;
}

/*---------------FIM FORM 3---------------*/


/*---------------GRID MODAL ---------------*/

.modal-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'c11 c12';
}

.c11{
    grid-area: c11;
}

.c12{
    grid-area: c12;
}

.img-modal-pc{
    padding: 15px;
    width: 100%;
    height: 100%;

}

.modal-content{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 15px !important;
}
/*-------------FIM DO GRID MODAL------------*/

@media (min-width: 1281px) {
.btn-flip {
    opacity: 1;
    color: #fff;
  }

  .first-card-btn .btn-visu{
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Nexa Light';
    text-decoration: underline;
    margin-top: -10px;
    border-width: 0px;
    outline: none;
    font-size: 1.2em;
}

.img-check{
    margin-top: -10px;
}
  .btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  .btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
  .btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #1a1a1a;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    font-family: 'Nexa Light';
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 300;
    margin-left: 50px;
    margin-top: 70px;
  }
  .esquerda:after {
    margin-left: 0px;
  }

  .btn-texto:before {
    font-family: 'Nexa Light';
    width: 200px;
    height: 200px;
    background-color: #1a1a1a;
    color: #57c478;
    font-size: 1.8em;
    content: "Passe o mouse sobre os textos para saber mais!";
    font-weight: bolder;
    border-width: 0px;
    -webkit-appearance: none;
    outline: none;
  }

  .textoPequeno:after {
    margin-top: 100px;
  }

  .textoQuebrado:after {
    white-space: pre;
    margin-top: 0px;
  }

  .textoQuebrado:before{
      margin-top: -200px;
  }

  .marginRight{
      margin-left: -80px;
  }

  .marginLeft{
    margin-right: 100px;
  }

  .btn-flip:before {
    white-space: pre;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    transition: 0.5s;
    position: relative;
    background: #1a1a1a;
    line-height: 60px;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    margin-top: 80px;
    font-size: 1em;
  }

  .tituloPequeno:before {
    margin-top: 180px;
  }

  .tituloPequeno:after {
    margin-top: 180px;
  }

  .content-404{
    display: block;
    width: 40%;
    height: auto;
    text-align: center;
}
  .center-msg{
    font-size: 2em;
    display: block;
  }

  .paragraph-msg{
      display: block;
      width: 100%;
      height: auto;
      font-size: 1.2em;
      margin-top: 5%;
  }

  .btn-404{
      margin-top: 5%;
      height: 50%;
      width: 150px;
      color: #fff !important;
  }

  .content-success{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50%;
    margin-top: 25%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -60%);
}
}
  .caixaCatalogo {
    height: 500px;
    width: 900px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    transform: rotate(10deg);
  }

  .background2{
    background-image: url('../img/Imagem 8.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 67vw;
    background-position: center;
    min-height: 1000px; /*Aumentar pra telas maiores*/
  }

  .itemList{
    background-color: #e6e6e6;
    height: 55px;
    width: 90%;
    margin:auto;
    border-radius: 15px;
    margin-top: 20px;
  }

  .catalogoCheck{
    padding-left: 740px;
    margin-top: -70px;
    position: relative;
  }

  .check{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 30%;
    vertical-align: middle;
    border: 1px solid #535151;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  .check:checked{
    background-color: #0569e2;
  }

  .textItem{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2em;
    font-family: 'Nexa Light'
  }

  #cartaoAzul {
    height: 500px;
    width: 900px;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    transform: rotate(-10deg);
    background-color: #044ea8;
  }

  .texto-botao-ancora{
    margin-top: 6px;
}
.card-btn{
    font-family: 'Nexa Bold';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #4cc06f, #16963c);
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bolder;
    border-radius: 15px;
}


  .btn-texto-custom{
    display: inline-block;
    font-family: 'Nexa Bold';
    width: 500px;
    height: 200px;
    background: none;
    outline: none;
    color: #57c478;
    font-weight: bolder;
    border-width: 0px;
    font-size: 2.5em;
    -webkit-appearance: none;
    outline: none;
    text-align: start;
  }

  .btn-catalogo{
    margin-top: 30px;
    padding-left: 650px;
  }

  .after-margin:after{
      margin-top: 100px !important;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .content-success{
        position: absolute;
        width: 80%;
        font-size: 1.3em;
        top: 0;
        left: 0;
        margin-left: 50%;
        margin-top: 35%;
        color: #fff;
        text-align: center;
        transform: translate(-50%, 0%);
    }

    .nav-link{
        font-size: 2em !important;
    }

    .first-card-btn .btn-visu{
        height: 100%;
        width: 100%;
        color: #fff;
        font-family: 'Nexa Light';
        text-decoration: underline;
        margin-top: 0px;
        border-width: 0px;
        outline: none;
        font-size: 2.5em;
  }

    .content-404{
        display: block;
        width: 80%;
        height: auto;
        text-align: center;
        margin-top: -20%;
    }
    .center-msg{
        font-size: 3.5em;
        display: block;
      }

      .paragraph-msg{
          display: block;
          width: 100%;
          height: auto;
          font-size: 2.3em;
          margin-top: 5%;
      }

      .btn-404{
          margin-top: 5%;
          font-size: 2.5em;
          height: 80px;
          width: 250px;
          color: #fff !important;
      }

    .background1{
      background-image: url('../img/Imagem 1.png');
      background-repeat: no-repeat;
      width: 100%;
      background-position: center;
      display: block;
      margin: auto;
      min-height: 1000px; /*Aumentar pra telas maiores*/
  }
  .card{
      margin-top: 200px;
  }
  .blockquote-text{
    padding-left: 100px;
  }
  .card-subtitle{
    color: #fff;
    font-size: 2.5em;
  }
  .card-text{
    color: #fff;
    font-size: 2.5em;
  }
  .card-btn{
    font-family: 'Nexa Bold';
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to right, #4cc06f, #16963c);
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bolder;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  .textBackground1{ /* Center text */
    margin-left: 130px;
    width: 700px;
  }
  #textoBackground{
    padding-top: 400px; margin-left: -100px; line-height: 90px;
}
  .textoBranco{
    font-family: 'Nexa Bold';
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: -20px; /*Comentar isso com Tito*/
  }
  .caixaCatalogo{
    height: 580px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    margin: auto;
    margin-top: 220px;
    transform: rotate(10deg);
  }
  #cartaoAzul {
    height: 580px;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    margin-top: 220px;
    transform: rotate(-10deg);
    background-color: #044ea8;
  }
  .catalogoCheck{
    padding-left: 625px;
    margin-top: -75px;
    position: relative;
  }
  .btn-catalogo{
    margin-top: 30px;
    padding-left: 540px;
  }
  .textoQuebrado:after {
    white-space: pre;
    margin-top: 20px;
    margin-left: -100px;
  }
  .imagensCirculares{
      text-align: center;
      font-size: 25px;
      width: 80%;
      margin: auto;
  }

  .mobile{
      font-size: 3.0em;
  }

  .textoBranco{
    font-family: 'Nexa Bold';
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: -20px; /*Comentar isso com Tito*/
}

.textoCinza{
    font-family: 'Nexa Light';
    color: #999999;
    font-size: 2em;
    font-weight: 300;
}
.check{
    width: 1.8em;
    height: 1.8em;
    background-color: white;
    border-radius: 30%;
    vertical-align: middle;
    border: 1px solid #535151;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }

  .itemList{
    background-color: #e6e6e6;
    height: 80px;
    width: 90%;
    margin:auto;
    border-radius: 15px;
    margin-top: 20px;
  }
  .textItem{
    padding-top: 20px;
    padding-left: 14px;
    font-size: 2em;
    font-family: 'Nexa Light';
  }
  .background2{
    background-image: url('../img/Imagem 8.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 200px;
    min-height: 1000px; /*Aumentar pra telas maiores*/
  }
  .texto-botao-ancora{
    margin-top: -3px;
  }
    }

  .card{
      background-color: #262626;
      transition: all .3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.08);
}


  .card-text{
      color: #fff;
  }

  .div-card-btn{
    margin: auto;
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 48% 48%;
    grid-template-areas: 'first-card-btn second-card-btn';
  }

  .first-card-btn{
    grid-area: first-card-btn;
  }

  .second-card-btn{
    grid-area: second-card-btn;
  }

  .background3{
    background-image: url("../img/Imagem 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 67vw;
    background-position: center;
    display: block;
    min-height: 1000px; /*Aumentar pra telas maiores*/
    margin-top: 100px;
  }
  .textoBackground3{
      padding-top: 35%;
      text-align: center;
  }
  .suporte{
    text-align: center;
    margin-top: 50px;
  }
  hr{
      width: 90%;
      color: #fff;
      background-color: #969696;
      height: 2px;
      border-radius: 1px;
  }

  .subtitulo-suporte{
    font-size: 1.3em;
    text-align: left;
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
  }

  .texto-suporte{
    width: 80%;
    font-family: 'Nexa Light';
    text-align: left;
    font-weight: lighter;
    margin-left: 10%;
    margin-top: 20px;
    font-size: 1.2em;
  }
  .botao-ancora{
    font-family: 'Nexa Light';
    width: 100%;
    height: 55px;
    background-image: linear-gradient(to right, #0569e2, #12519E);
    color: #ffffff;
    font-size: 1.0em;
    font-weight: bolder;
    border-radius: 0px;
  }

  .flex-center{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .background4{
    background-image: url("../img/Imagem 10.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 67vw;
    background-position: center;
    display: block;
    min-height: 1000px; /*Aumentar pra telas maiores*/
    margin-top: 100px;
  }
  .textoBackground4{
      padding-top: 35%;
      text-align: center;
  }

  .cortado{
    text-decoration: line-through;
    text-decoration-color: red;
  }
  .sublinhado{
      text-decoration: underline;
  }

  html{
    scroll-behavior: smooth;
  }

  .body-404{
    font-family: 'Nexa Light';
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagensCirculares .textoBranco{
      font-size: 1.8em;
  }

  .footer{
      background-image: url("../img/Imagem footer.png");
      background-size: 100% 100%;
      width: 100%;
      height: 28vw;
      padding-top: 8%;
  }

  .contratar-footer{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: 2%;
      height: 70px;
  }

  .anchor-footer{
      color: #fff !important;
      font-size: 2em;
      font-family: 'Nexa Light';
      transition: 0.2s;
  }

  .anchor-footer:hover{
      font-size: 2.2em;
  }

  .copy-footer{
    color: #fff !important;
    font-size: 0.7em;
    text-align: center;
    padding-top: 5%;
  }







